.TabelaProdutos table {
   width: 100%
}

.TabelaProdutos th {
    background-color: rgb(1, 29, 20);
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #aaa;
}


.TabelaProdutos .Impar {
    background-color: #ddd;
}



