@font-face {
  font-family: 'Handlee', cursive;
  src: url('./fonts/Handlee/Handlee-Regular.ttf');
}

* {
  font-family: 'Handlee', cursive;
}

body {
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41,46,73));
}